<div class="container-fluid default-page-background">
  <table class="cart__table cart-table">
    <thead class="cart-table__head">
    <tr class="cart-table__row">
      <th class="cart-table__column cart-table__column--image">{{ 'checkout.image' | translate }}</th>
      <th class="cart-table__column cart-table__column--product">{{ 'checkout.product' | translate}}</th>
      <th class="cart-table__column cart-table__column--price">{{ 'checkout.price' | translate}}</th>
      <th class="cart-table__column cart-table__column--quantity">{{ 'checkout.quantity' | translate}}</th>
      <th class="cart-table__column cart-table__column--total">{{ 'checkout.total' | translate}}</th>
      <th class="cart-table__column cart-table__column--remove"></th>
    </tr>
    </thead>
    <tbody class="cart-table__body">
    <tr *ngFor='let product of productsInCart' class="cart-table__row">
      <td class="cart-table__column cart-table__column--image">
        <!--      <a [routerLink]="root.product(item.cartItem.product.id)" *ngIf="item.cartItem.product.images?.length"><img [src]="item.cartItem.product.images[0]" alt=""></a>-->
        <img class="product-image" [src]="getProductUrl(product.product.productInfo)"
             onerror="this.onerror=null;this.src='/assets/images/teapod.jpeg';" alt="image of {{product.product.name}}">
      </td>
      <td class="cart-table__column cart-table__column--product">
        <div class="col-sm-12 col-md-12 product-description">
          {{product.product.description}}
        </div>
        <!--      <a [routerLink]="root.product(item.cartItem.product.id)" class="cart-table__product-name">{{ item.cartItem.product.name }}</a>-->
        <!--      <ul *ngIf="item.cartItem.options.length" class="cart-table__options">-->
        <!--        <li *ngFor="let option of item.cartItem.options">{{ option.name }}: {{ option.value }}</li>-->
        <!--      </ul>-->
      </td>
      <td class="cart-table__column cart-table__column--price" data-title="Price">
        <div class="col-4 product-price">
          $ {{product.product.price}}
        </div>
      </td>
      <td class="cart-table__column cart-table__column--quantity" data-title="Quantity">
        <div class="col-4 product-price">
          {{product.quantity}} pcs
        </div>
      </td>
      <td class="cart-table__column cart-table__column--total" data-title="Total">
        <div class="col-4 product-price">
          $ {{ totalSum(product.product.price, product.quantity) }}
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row justify-content-end pt-5">
    <div class="col-12 col-md-7 col-lg-6 col-xl-5">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ 'checkout.cartTotals' | translate }}</h3>
          <table class="cart__totals">
            <thead *ngIf="totalAmount" class="cart__totals-header">
            <tr>
              <th>{{ 'checkout.subtotal' | translate }}</th>
              <td>$ {{totalAmount}}</td>
            </tr>
            </thead>
            <tbody *ngIf="totalAmount" class="cart__totals-body">
            </tbody>
            <tfoot class="cart__totals-footer">
            <tr>
              <th>{{ 'checkout.total' | translate }}</th>
              <td>$ {{totalAmount}}</td>
            </tr>
            <tr>
              <th>
              </th>
              <th>
                <div class="text-center checkout-confirmation" *ngIf='checkOutConfirmationStatus'>Thank you! Your order has been accepted!</div>
              </th>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
