<div class="form-frame login-register-page">

  <alert type="danger" *ngIf='errorMessage'>
    <strong *ngIf="errorMessage?.status != 500">{{errorMessage.message.errorMessage}} </strong>
    <strong *ngIf="errorMessage?.status == 500 || 503 || 0">{{ 'loginProcess.errorNetworkMessage' | translate }} </strong>
  </alert>

  <div class="row text-center register-or-login-main">
    <div class="col-12 col-sm-6 register-or-login-other">
      <a routerLink="/login">{{ 'registerProcess.loginLink' | translate }}</a>
    </div>
    <div class="col-12 col-sm-6 register-or-login-selected">
      <a routerLink="/register">{{ 'registerProcess.registerLink' | translate }}</a>
    </div>
  </div>

  <form [formGroup]="registerForm" (ngSubmit)="register()" class="login-or-register-form">
    <div class="form-group">
      <label for="userName"></label>
      <input formControlName="userName"  class="form-control custom-login" [ngClass]="{'invalid-input': (registerForm.get('userName').touched || registerForm.get('userName').dirty)  && !registerForm.value.userName}" id="userName" placeholder="user name">
    </div>
    <div class="form-group">
      <label for="email"></label>
      <input formControlName="email" type="email" class="form-control custom-login" [ngClass]="{'invalid-input': (registerForm.get('email').touched || registerForm.get('email').dirty)  && !registerForm.get('email').valid}" id="email" placeholder="email">
    </div>
    <div class="form-group">
      <label for="mobile"></label>
      <input formControlName="mobile" type="tel" class="form-control custom-login" [ngClass]="{'invalid-input': (registerForm.get('mobile').touched || registerForm.get('mobile').dirty)  && !registerForm.get('mobile').valid}" id="mobile" placeholder="mobile">
    </div>
    <div class="form-group">
      <label for="password"></label>
      <input formControlName="password" type="password" class="form-control custom-login" [ngClass]="{'invalid-input': (registerForm.get('password').touched || registerForm.get('password').dirty)  && !registerForm.value.password}" id="password" placeholder="password">
    </div>
    <div class="form-group">
      <label for="confirm_password"></label>
      <input formControlName="confirmPassword" type="password" class="form-control custom-login" [ngClass]="{'invalid-input': (registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').dirty)  && !registerForm.value.confirmPassword}" id="confirm_password" placeholder="confirm password">
    </div>
    <div class="btn-box">
      <button [disabled]="registerForm.status !=='VALID' || !registerForm.value.userName ||
            !registerForm.value.password || !registerForm.value.confirmPassword" type="submit" class="btn btn-primary login-btn">{{'registerProcess.submitButton' | translate}}</button>

    </div>
  </form>
</div>
