<div class="container default-page-background">
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="product-name">{{(productDetail$  | async)?.name | titlecase }}</h1>
    </div>
  </div>
  <div class="row">

    <div *ngIf="(productDetail$  | async)" class="col-sm-4 text-center product-image">
      <img [src]="getProductUrl((productDetail$  | async)?.productInfo)"
           onerror="this.onerror=null;this.src='/assets/images/teapod.jpeg';"
           class="product-image" alt="product image"
           (click)="initGallery()">

      <div #lightGallery class="col-12 images-container">
        <div class="row" id="aniimated-thumbnials" *ngIf="(productDetail$  | async)?.productInfo">
          <carousel [singleSlideOffset]="singleSlideOffset"
                    [noWrap]="noWrap"
                    [itemsPerSlide]="itemsPerSlide"
                    [interval]="false"
                    [startFromIndex]="1"
                    (slideRangeChange)="onSlideRangeChange($event)"
                    [ngClass]="{'show-nav': images.length >= maxItemsPerSlide, 'hide-hav': images.length < maxItemsPerSlide}">
            <slide *ngFor="let image of (productDetail$  | async)?.productInfo.imageList; let i = index" style="margin-right: 0px; !important; margin-right: 10px;">
              <img class="image-product-details" [src]="image['imageUrl']"
                   onerror="this.onerror=null;this.src='/assets/images/no_image.png';"
                   alt="product image" (click)="initGallery(i)" style="max-width: 200px">
            </slide>
          </carousel>
        </div>
      </div>

    </div>

    <div class="col-sm-8 float-right product-description">
      <div class="container">

          <div class="row product-description">
            <div class="col-5">{{ 'product.productDescription' | translate }}: </div>
            <div class="col-7">{{(productDetail$  | async)?.description | titlecase}}</div>
          </div>

          <div class="row product-price">
            <div class="col-5">{{ 'product.price' | translate }}:</div>
            <div class="col-7">$ {{(productDetail$  | async)?.price}}</div>
          </div>

          <div class="row product-add-to-card">
            <div class="col-5">
              {{ 'product.availableOnStock' | translate }}:
            </div>
            <div class="col-7">
              {{((productDetail$  | async)?.defaultMaxQuantity || maxQuantity) - selectedQuantity}} pcs
            </div>
          </div>

          <add-to-cart class="order-quantity"
            [maxQuantity]="(productDetail$  | async)?.defaultMaxQuantity || maxQuantity"
            [minQuantity]="minQuantity"
            (selectedQuantity)="onSelectedQuantity($event)"
          ></add-to-cart>

          <div class="row order-total">
            <div class="col-5">{{ 'product.sum' | translate }}:</div>
            <div class="col-7">$ {{countSum( (productDetail$  | async)?.price,  selectedQuantity )}}</div>
          </div>

      </div>
      <div class="row text-center">
        <div class="col-12 add-to-cart">
          <button (click)="addToCart()" class="btn btn-primary btn-sm" type="button">{{ 'product.addToCart' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row product-rating">
    <div class="col-sm-12">
          <span class="align-bottom">
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
            <i class="glyphicon glyphicon-star-empty"></i>
          </span>
    </div>
  </div>

<!--  <pre class="card card-block card-header">{{slidesChangeMessage}}</pre>-->
  <alert type="danger" *ngIf='showErrorMsgs && (productDetail$ | async)?.error'>
    <strong>{{(productDetail$ | async)?.error}} <a href="/logout"> Login </a> </strong>
  </alert>


</div>



