<div class="row product-add-to-card">
  <div class="col-5">
    {{ 'product.quantity' | translate }}:
  </div>
  <div class="col-7">
    <div class="row">
      <div class="col-12">
        <button type="button" class="increment-decrement-arrows" (click)="decrementQuantity()" (mousedown)="mousedown('decrementQuantity')" (mouseup)="mouseup('decrementQuantity')" (mouseleave)="mouseup('decrementQuantity')">
          <img src="/assets/svg/arrow-rounded-left-6x9.svg" alt="arrow" class="arrow-btn-custom"/>
        </button>

        <input class="input-number-of-items" [ngModel]="quantity" (ngModelChange)="checkIfExceedLimit($event)" id="example-uppercase">

        <button type="button" class="increment-decrement-arrows" (click)="incrementQuantity()" (mousedown)="mousedown('incrementQuantity')" (mouseup)="mouseup('incrementQuantity')" (mouseleave)="mouseup('incrementQuantity')">
          <img src="/assets/svg/arrow-rounded-right-6x9.svg" alt="arrow" class="arrow-btn-custom"/>
        </button>
      </div>
      <div class="clo-12 limit-stock-message">
        <div class="">{{limitStockMessage}}</div>
      </div>
    </div>
  </div>
</div>
