<div class="header-custom" (window:resize)="onResize()" #detector>
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top nav-custom-styles"
       [ngClass]="{'nav-custom-styles': currentUrl != 'Login' && currentUrl != 'Register',
       'nav-custom-login-styles': currentUrl == 'Login' || currentUrl == 'Register'}">
    <a class="navbar-brand custom-navbar-label" [routerLink]="['/products']">
      <img class="custom-navbar-image" src="assets/images/20190601_154728.png"/>
      <!--<span class="hidden-md-down">e-commerce</span>-->
    </a>
    <a *ngIf="(cart$ | async) && !(checkOutConfirmationStatus$ | async)" [routerLink]="['/checkout']" class="nav-link-custom nav-link nav-item">
      <div class="shopping-cart">
        <div>
          <img src="assets/images/shopping_cart_total.png" alt="total amount in shopping cart" class="shopping_cart_total">
        </div>
        <div class="total-in-cart">
          <i class="in-cart-total"> $ {{(cart$ | async)?.totalAmount}}</i>
          <i class="in-cart-quantity"> {{(cart$ | async)?.totalQuantity}} pcs</i>
        </div>
      </div>
    </a>
    <button class="navbar-toggler" [ngClass]="{'open-menu-button' : !isCollapsed, 'close-menu-button': isCollapsed}" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"  (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true" *ngIf="currentUrl != 'Login' && currentUrl != 'Register'" >
      <app-upper-header></app-upper-header>
      <ul class="navbar-nav mr-auto navbar-custom">
        <!--User Account console menu-->
        <!--1. for Desktop-->
        <li class="d-none d-lg-block">
          <div class="btn-group" dropdown [insideClick]="true">
            <button id="button-dropdown-user-account" dropdownToggle type="button" class="btn dropdown-toggle custom-drop-down"
                    aria-controls="dropdown-user-account">
              <i class="far fa-lg fa-user"></i>
            </button>
            <ul id="dropdown-user-account" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-dropdown-user-account">
              <li *ngIf="user" class="nav-item">
                <a  [routerLink]="['/placed-orders']" class="nav-link"><span class="d-flex p-2 user-greeting">{{ 'checkout.placedOrders' | translate }}</span></a>
              </li>
              <li class="nav-item">
                <span class="d-flex p-2 user-greeting">{{ user?.userName }}</span>
              </li>
              <li class="language-collapse">
                {{ 'header.language' | translate }}
                <select class="language-selector" id="languageSelector"
                        [ngModel]="selectedLanguage"
                        (ngModelChange)="onLanguageSelect($event)">
                  <option *ngFor="let language of languages">{{language}}</option>
                </select>
              </li>
              <li class="divider dropdown-divider"></li>
              <li *ngIf="user?.userName" class="nav-item"><a href="/logout" class="nav-link">{{ 'header.logout' | translate }}</a></li>
            </ul>
          </div>
        </li>
        <!--2. for Mobile-->
        <li class="nav-item dropdown d-block d-lg-none ">
          <button id="button-collapse-user-account" class="custom-drop-down" type="button" data-toggle="collapse" data-target="#dropdown-basic" aria-controls="dropdown-basic" aria-expanded="false" aria-label="seller console"
                  (click)="isCollapsedUserAccount = !isCollapsedUserAccount">
            {{ 'header.userAccount' | translate }} <span class="caret-right"></span>
          </button>
          <div class="collapse navbar-collapse" id="user-account" [collapse]="isCollapsedUserAccount" [isAnimated]="true">
            <ul id="collapse-user-account" class="navbar-nav mr-auto navbar-custom custom-menu-dropdown">
              <li *ngIf="user" class="nav-item">
                <a  [routerLink]="['/placed-orders']" class="nav-link"><span class="d-flex p-2 user-greeting">{{ 'checkout.placedOrders' | translate }}</span></a>
              </li>
              <li *ngIf="user" class="nav-item">
                <span class="d-flex p-2 user-greeting">{{ user?.userName }}</span>
              </li>
              <li class="language-collapse">
                {{ 'header.language' | translate }}
                <select class="language-selector" id="languageSelectorMobile"
                        [ngModel]="selectedLanguage"
                        (ngModelChange)="onLanguageSelect($event)">
                  <option *ngFor="let language of languages">{{language}}</option>
                </select>
              </li>
              <li class="divider dropdown-divider"></li>
              <li *ngIf="user?.userName" class="nav-item"><a href="/logout" class="nav-link">{{ 'header.logout' | translate }}</a></li>
            </ul>
          </div>
        </li>
        <!-- Seller console menu -->
        <!--1. for Desktop-->
        <li class="d-none d-lg-block">
          <div class="btn-group" dropdown>
            <button id="button-dropdown-seller-console" dropdownToggle type="button" class="btn dropdown-toggle custom-drop-down"
                    aria-controls="dropdown-seller-console">
              {{ 'header.sellerConsole' | translate }}  <span class="caret"></span>
            </button>
            <ul id="dropdown-seller-console" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-dropdown-seller-console">
              <li *ngIf="user?.userName" class=""><a  [routerLink]="['/create-product']" class="nav-link">{{ 'header.createProduct' | translate }}</a></li>
            </ul>
          </div>
        </li>
        <!--2. for Mobile-->
        <li class="nav-item dropdown d-block d-lg-none ">
          <button id="button-collapse-seller-console" class="custom-drop-down" type="button" data-toggle="collapse" data-target="#dropdown-basic" aria-controls="dropdown-basic" aria-expanded="false" aria-label="seller console"
                  (click)="isCollapsedSellerConsole = !isCollapsedSellerConsole">
            {{ 'header.sellerConsole' | translate }} <span class="caret-right"></span>
          </button>
          <div class="collapse navbar-collapse" id="seller-console" [collapse]="isCollapsedSellerConsole" [isAnimated]="true">
            <ul id="collapse-seller-console" class="navbar-nav mr-auto navbar-custom custom-menu-dropdown">
              <li *ngIf="user?.userName" class=""><a  [routerLink]="['/create-product']" class="nav-link">{{ 'header.createProduct' | translate }}</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>

