<ul class="navbar-nav mr-auto navbar-custom-upper-header">
  <li class="nav-item active">
    <a class="nav-link" href="#">{{ 'upperHeader.home' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'upperHeader.product' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'upperHeader.about' | translate }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">{{ 'upperHeader.contacts' | translate }}</a>
  </li>
</ul>
