<div class="container-fluid default-page-background">
  <div class="table-block">
    <table class="table ">
      <thead class="text-center">
        <tr>
          <!-- <th id="image">Some header info</th> -->
        </tr>
      </thead>
      <!-- fullscreen view -->
      <tbody *ngFor='let orderOnDate of ordersOnDate' id="order-block-for-desktop">
        <tr>
          <td>
            <div >
              {{orderOnDate}}
            </div>
          </td>
        </tr>
      </tbody>

      <!-- mobile view -->
      <tbody *ngFor='let orderOnDate of ordersOnDate; let i = index' id="order-block-for-mobile">
        <accordion [isAnimated]="true">
          <accordion-group>
            <button id="modalBtn" class="btn btn-link" accordion-heading type="button" (click)='changeChevronDirection(i)'>
              <div class="row">
                <div class="col-10 text-left">
                  <!-- here will be order's date -->
                </div>
                <div class="col-2 text-right">
                  <img [ngClass]="{'expanded-block': accordionPosition && accordionPosition[i], 'close-block': (accordionPosition && !accordionPosition[i])}" src="../../../../assets/svg/arrow-rounded-right-6x9.svg" alt="Right caret">
                </div>
              </div>
            </button>

            <div class="all-block-item">
              {{orderOnDate}}
            </div>
          </accordion-group>
        </accordion>
      </tbody>
    </table>
  </div>
</div>
